@use 'sass:string';
@use 'palette-config' as config;

@function family-name($name) {
  @return string.unquote($name);
}

@mixin define-palette-derived-vars() {
  @each $name in config.$palette-families {
    --color-#{family-name($name)}-950: var(--color-#{family-name($name)}-900);
  }
}


:root,
[data-theme='light'] {

  --color-black: 0, 0, 0;
  --color-red-50: 254, 241, 241;
  --color-red-100: 253, 226, 226;
  --color-red-200: 251, 191, 188;
  --color-red-300: 249, 142, 139;
  --color-red-400: 247, 105, 100;
  --color-red-500: 245, 74, 69;
  --color-red-600: 216, 57, 49;
  --color-red-700: 172, 47, 40;
  --color-red-800: 129, 37, 32;
  --color-red-900: 98, 28, 24;
  --color-white: 255, 255, 255;
  --color-blue-50: 240, 244, 255;
  --color-blue-100: 225, 234, 255;
  --color-blue-200: 186, 206, 253;
  --color-blue-300: 130, 167, 252;
  --color-blue-400: 78, 131, 253;
  --color-blue-500: 51, 112, 255;
  --color-blue-600: 36, 91, 219;
  --color-blue-700: 28, 76, 186;
  --color-blue-800: 19, 60, 154;
  --color-blue-900: 12, 41, 110;
  --color-cyan-50: 229, 247, 248;
  --color-cyan-100: 194, 239, 240;
  --color-cyan-200: 138, 221, 226;
  --color-cyan-300: 88, 203, 211;
  --color-cyan-400: 44, 184, 197;
  --color-cyan-500: 5, 164, 182;
  --color-cyan-600: 3, 134, 152;
  --color-cyan-700: 1, 105, 121;
  --color-cyan-800: 0, 77, 91;
  --color-cyan-900: 0, 50, 61;
  --color-grey-50: 249, 249, 249;
  --color-grey-100: 230, 232, 234;
  --color-grey-200: 198, 202, 205;
  --color-grey-300: 167, 171, 176;
  --color-grey-400: 136, 141, 146;
  --color-grey-500: 107, 112, 117;
  --color-grey-600: 85, 91, 97;
  --color-grey-700: 65, 70, 76;
  --color-grey-800: 46, 50, 56;
  --color-grey-900: 28, 31, 35;
  --color-lime-50: 247, 250, 229;
  --color-lime-100: 238, 246, 198;
  --color-lime-200: 223, 238, 150;
  --color-lime-300: 210, 231, 106;
  --color-lime-400: 195, 221, 64;
  --color-lime-500: 179, 214, 0;
  --color-lime-600: 143, 172, 2;
  --color-lime-700: 102, 121, 1;
  --color-lime-800: 73, 87, 0;
  --color-lime-900: 53, 66, 0;
  --color-pink-50: 253, 236, 239;
  --color-pink-100: 251, 207, 216;
  --color-pink-200: 246, 160, 181;
  --color-pink-300: 242, 115, 150;
  --color-pink-400: 237, 72, 123;
  --color-pink-500: 233, 30, 99;
  --color-pink-600: 197, 19, 86;
  --color-pink-700: 162, 11, 72;
  --color-pink-800: 126, 5, 58;
  --color-pink-900: 90, 1, 43;
  --color-teal-50: 226, 246, 243;
  --color-teal-100: 190, 237, 229;
  --color-teal-200: 132, 219, 207;
  --color-teal-300: 81, 202, 186;
  --color-teal-400: 37, 184, 167;
  --color-teal-500: 0, 166, 150;
  --color-teal-600: 0, 138, 127;
  --color-teal-700: 0, 111, 104;
  --color-teal-800: 0, 83, 79;
  --color-teal-900: 0, 55, 54;
  --color-amber-50: 254, 251, 235;
  --color-amber-100: 252, 245, 206;
  --color-amber-200: 249, 232, 158;
  --color-amber-300: 246, 216, 111;
  --color-amber-400: 243, 198, 65;
  --color-amber-500: 240, 177, 20;
  --color-amber-600: 200, 138, 15;
  --color-amber-700: 160, 102, 10;
  --color-amber-800: 120, 70, 6;
  --color-amber-900: 80, 43, 3;
  --color-green-50: 240, 251, 239;
  --color-green-100: 217, 245, 214;
  --color-green-200: 183, 237, 177;
  --color-green-300: 142, 224, 133;
  --color-green-400: 98, 210, 86;
  --color-green-500: 52, 199, 36;
  --color-green-600: 46, 161, 33;
  --color-green-700: 35, 123, 25;
  --color-green-800: 24, 96, 16;
  --color-green-900: 18, 75, 12;
  --color-indigo-50: 242, 243, 253;
  --color-indigo-100: 224, 226, 250;
  --color-indigo-200: 180, 185, 243;
  --color-indigo-300: 123, 131, 234;
  --color-indigo-400: 97, 106, 229;
  --color-indigo-500: 73, 84, 230;
  --color-indigo-600: 41, 51, 199;
  --color-indigo-700: 22, 31, 162;
  --color-indigo-800: 10, 18, 133;
  --color-indigo-900: 12, 18, 100;
  --color-orange-50: 255, 245, 235;
  --color-orange-100: 254, 234, 210;
  --color-orange-200: 254, 212, 164;
  --color-orange-300: 255, 186, 107;
  --color-orange-400: 255, 165, 61;
  --color-orange-500: 255, 136, 0;
  --color-orange-600: 222, 120, 2;
  --color-orange-700: 178, 98, 6;
  --color-orange-800: 143, 79, 4;
  --color-orange-900: 107, 57, 0;
  --color-purple-50: 246, 241, 254;
  --color-purple-100: 236, 226, 254;
  --color-purple-200: 205, 178, 250;
  --color-purple-300: 173, 130, 247;
  --color-purple-400: 147, 90, 246;
  --color-purple-500: 127, 59, 245;
  --color-purple-600: 100, 37, 208;
  --color-purple-700: 78, 27, 167;
  --color-purple-800: 56, 13, 130;
  --color-purple-900: 39, 5, 97;
  --color-violet-50: 252, 238, 252;
  --color-violet-100: 248, 222, 248;
  --color-violet-200: 239, 185, 239;
  --color-violet-300: 229, 143, 229;
  --color-violet-400: 219, 102, 219;
  --color-violet-500: 209, 54, 209;
  --color-violet-600: 178, 32, 178;
  --color-violet-700: 140, 33, 140;
  --color-violet-800: 104, 18, 104;
  --color-violet-900: 70, 11, 70;
  --color-wathet-50: 236, 249, 254;
  --color-wathet-100: 217, 243, 253;
  --color-wathet-200: 177, 232, 252;
  --color-wathet-300: 126, 218, 251;
  --color-wathet-400: 80, 206, 251;
  --color-wathet-500: 20, 192, 255;
  --color-wathet-600: 4, 159, 215;
  --color-wathet-700: 3, 126, 170;
  --color-wathet-800: 0, 97, 133;
  --color-wathet-900: 0, 71, 97;
  --color-yellow-50: 253, 249, 237;
  --color-yellow-100: 250, 241, 209;
  --color-yellow-200: 248, 230, 171;
  --color-yellow-300: 247, 220, 130;
  --color-yellow-400: 250, 211, 85;
  --color-yellow-500: 255, 198, 10;
  --color-yellow-600: 220, 155, 4;
  --color-yellow-700: 170, 120, 3;
  --color-yellow-800: 121, 81, 1;
  --color-yellow-900: 92, 58, 0;
  --color-carmine-50: 254, 241, 248;
  --color-carmine-100: 253, 221, 239;
  --color-carmine-200: 249, 174, 217;
  --color-carmine-300: 245, 122, 192;
  --color-carmine-400: 241, 75, 169;
  --color-carmine-500: 240, 29, 148;
  --color-carmine-600: 199, 16, 119;
  --color-carmine-700: 158, 19, 97;
  --color-carmine-800: 122, 15, 75;
  --color-carmine-900: 82, 10, 50;
  --color-neutral-50: 245, 246, 247;
  --color-neutral-100: 242, 243, 245;
  --color-neutral-200: 239, 240, 241;
  --color-neutral-300: 222, 224, 227;
  --color-neutral-400: 187, 191, 196;
  --color-neutral-500: 143, 149, 158;
  --color-neutral-600: 100, 106, 115;
  --color-neutral-700: 55, 60, 67;
  --color-neutral-800: 43, 47, 54;
  --color-neutral-900: 31, 35, 41;
  --color-saffron-50: 254, 255, 240;
  --color-saffron-100: 255, 255, 204;
  --color-saffron-200: 255, 252, 163;
  --color-saffron-300: 255, 246, 122;
  --color-saffron-400: 255, 242, 88;
  --color-saffron-500: 255, 233, 40;
  --color-saffron-600: 229, 206, 0;
  --color-saffron-700: 194, 168, 0;
  --color-saffron-800: 143, 124, 0;
  --color-saffron-900: 92, 79, 0;
  --color-turquoise-50: 234, 250, 248;
  --color-turquoise-100: 213, 246, 242;
  --color-turquoise-200: 169, 239, 230;
  --color-turquoise-300: 100, 232, 214;
  --color-turquoise-400: 20, 225, 198;
  --color-turquoise-500: 0, 214, 185;
  --color-turquoise-600: 4, 180, 156;
  --color-turquoise-700: 7, 131, 114;
  --color-turquoise-800: 3, 99, 86;
  --color-turquoise-900: 2, 75, 65;
  --color-light-blue-50: 233, 247, 253;
  --color-light-blue-100: 201, 236, 252;
  --color-light-blue-200: 149, 216, 248;
  --color-light-blue-300: 98, 195, 245;
  --color-light-blue-400: 48, 172, 241;
  --color-light-blue-500: 0, 149, 238;
  --color-light-blue-600: 0, 123, 202;
  --color-light-blue-700: 0, 99, 167;
  --color-light-blue-800: 0, 75, 131;
  --color-light-blue-900: 0, 53, 95;
  --color-light-green-50: 243, 248, 236;
  --color-light-green-100: 227, 240, 208;
  --color-light-green-200: 200, 226, 165;
  --color-light-green-300: 173, 211, 126;
  --color-light-green-400: 147, 197, 91;
  --color-light-green-500: 123, 182, 60;
  --color-light-green-600: 100, 152, 48;
  --color-light-green-700: 78, 121, 38;
  --color-light-green-800: 57, 91, 27;
  --color-light-green-900: 37, 61, 18;

  --color-red: 245, 74, 69;
  --color-blue: 51, 112, 255;
  --color-cyan: 5, 164, 182;
  --color-grey: 107, 112, 117;
  --color-lime: 179, 214, 0;
  --color-pink: 233, 30, 99;
  --color-teal: 0, 166, 150;
  --color-amber: 240, 177, 20;
  --color-green: 52, 199, 36;
  --color-indigo: 73, 84, 230;
  --color-orange: 255, 136, 0;
  --color-purple: 127, 59, 245;
  --color-violet: 209, 54, 209;
  --color-wathet: 20, 192, 255;
  --color-yellow: 255, 198, 10;
  --color-carmine: 240, 29, 148;
  --color-neutral: 143, 149, 158;
  --color-saffron: 255, 233, 40;
  --color-turquoise: 0, 214, 185;
  --color-light-blue: 0, 149, 238;
  --color-light-green: 123, 182, 60;

  @include define-palette-derived-vars();
}

[data-theme='dark'] {

  --color-black: 0, 0, 0;
  --color-red-50: 54, 25, 24;
  --color-red-100: 74, 29, 27;
  --color-red-200: 107, 40, 39;
  --color-red-300: 158, 56, 54;
  --color-red-400: 204, 71, 67;
  --color-red-500: 240, 91, 86;
  --color-red-600: 250, 120, 115;
  --color-red-700: 255, 156, 153;
  --color-red-800: 254, 198, 195;
  --color-red-900: 255, 224, 224;
  --color-white: 255, 255, 255;
  --color-blue-50: 21, 31, 51;
  --color-blue-100: 25, 42, 76;
  --color-blue-200: 32, 62, 120;
  --color-blue-300: 40, 81, 163;
  --color-blue-400: 46, 101, 209;
  --color-blue-500: 76, 136, 255;
  --color-blue-600: 112, 160, 255;
  --color-blue-700: 153, 187, 255;
  --color-blue-800: 184, 207, 255;
  --color-blue-900: 206, 223, 255;
  --color-lime-50: 46, 54, 5;
  --color-lime-100: 73, 87, 6;
  --color-lime-200: 109, 130, 5;
  --color-lime-300: 145, 173, 2;
  --color-lime-400: 171, 201, 18;
  --color-lime-500: 185, 214, 39;
  --color-lime-600: 199, 224, 77;
  --color-lime-700: 214, 234, 117;
  --color-lime-800: 231, 245, 166;
  --color-lime-900: 246, 255, 204;
  --color-green-50: 25, 48, 22;
  --color-green-100: 31, 71, 27;
  --color-green-200: 41, 107, 34;
  --color-green-300: 51, 148, 40;
  --color-green-400: 59, 176, 46;
  --color-green-500: 84, 194, 72;
  --color-green-600: 109, 209, 98;
  --color-green-700: 146, 222, 137;
  --color-green-800: 189, 240, 184;
  --color-green-900: 214, 245, 210;
  --color-indigo-50: 29, 31, 71;
  --color-indigo-100: 38, 42, 94;
  --color-indigo-200: 53, 59, 140;
  --color-indigo-300: 65, 73, 181;
  --color-indigo-400: 76, 85, 212;
  --color-indigo-500: 95, 105, 237;
  --color-indigo-600: 115, 123, 235;
  --color-indigo-700: 158, 165, 255;
  --color-indigo-800: 187, 192, 246;
  --color-indigo-900: 210, 213, 253;
  --color-orange-50: 51, 33, 11;
  --color-orange-100: 87, 51, 10;
  --color-orange-200: 132, 81, 23;
  --color-orange-300: 189, 112, 23;
  --color-orange-400: 222, 130, 24;
  --color-orange-500: 242, 150, 44;
  --color-orange-600: 245, 165, 74;
  --color-orange-700: 250, 188, 117;
  --color-orange-800: 255, 216, 172;
  --color-orange-900: 255, 234, 206;
  --color-purple-50: 40, 23, 69;
  --color-purple-100: 54, 29, 97;
  --color-purple-200: 77, 38, 145;
  --color-purple-300: 101, 51, 189;
  --color-purple-400: 124, 74, 212;
  --color-purple-500: 151, 98, 245;
  --color-purple-600: 164, 114, 252;
  --color-purple-700: 185, 144, 255;
  --color-purple-800: 211, 186, 253;
  --color-purple-900: 227, 212, 255;
  --color-violet-50: 59, 21, 59;
  --color-violet-100: 79, 28, 79;
  --color-violet-200: 122, 40, 122;
  --color-violet-300: 148, 59, 148;
  --color-violet-400: 181, 74, 181;
  --color-violet-500: 212, 87, 212;
  --color-violet-600: 222, 115, 222;
  --color-violet-700: 232, 152, 232;
  --color-violet-800: 242, 191, 242;
  --color-violet-900: 251, 218, 251;
  --color-wathet-50: 20, 41, 48;
  --color-wathet-100: 23, 55, 66;
  --color-wathet-200: 34, 91, 112;
  --color-wathet-300: 39, 130, 163;
  --color-wathet-400: 46, 165, 209;
  --color-wathet-500: 66, 189, 235;
  --color-wathet-600: 95, 212, 254;
  --color-wathet-700: 137, 223, 254;
  --color-wathet-800: 194, 238, 255;
  --color-wathet-900: 222, 246, 255;
  --color-yellow-50: 56, 46, 12;
  --color-yellow-100: 87, 71, 17;
  --color-yellow-200: 143, 114, 17;
  --color-yellow-300: 201, 157, 8;
  --color-yellow-400: 240, 187, 10;
  --color-yellow-500: 250, 200, 35;
  --color-yellow-600: 252, 212, 86;
  --color-yellow-700: 255, 222, 117;
  --color-yellow-800: 255, 230, 148;
  --color-yellow-900: 252, 239, 194;
  --color-carmine-50: 66, 27, 49;
  --color-carmine-100: 92, 37, 66;
  --color-carmine-200: 145, 55, 106;
  --color-carmine-300: 173, 64, 126;
  --color-carmine-400: 204, 71, 146;
  --color-carmine-500: 227, 82, 163;
  --color-carmine-600: 237, 102, 179;
  --color-carmine-700: 255, 145, 207;
  --color-carmine-800: 255, 189, 226;
  --color-carmine-900: 255, 219, 239;
  --color-neutral-50: 26, 26, 26;
  --color-neutral-100: 41, 41, 41;
  --color-neutral-200: 55, 55, 55;
  --color-neutral-300: 67, 67, 67;
  --color-neutral-400: 95, 95, 95;
  --color-neutral-500: 117, 117, 117;
  --color-neutral-600: 166, 166, 166;
  --color-neutral-700: 224, 224, 224;
  --color-neutral-800: 232, 232, 232;
  --color-neutral-900: 235, 235, 235;
  --color-saffron-50: 56, 52, 12;
  --color-saffron-100: 92, 85, 20;
  --color-saffron-200: 135, 123, 16;
  --color-saffron-300: 199, 179, 0;
  --color-saffron-400: 232, 209, 0;
  --color-saffron-500: 245, 226, 49;
  --color-saffron-600: 250, 237, 87;
  --color-saffron-700: 252, 244, 124;
  --color-saffron-800: 255, 252, 158;
  --color-saffron-900: 255, 255, 199;
  --color-turquoise-50: 22, 46, 43;
  --color-turquoise-100: 21, 61, 56;
  --color-turquoise-200: 35, 102, 93;
  --color-turquoise-300: 38, 150, 135;
  --color-turquoise-400: 55, 184, 166;
  --color-turquoise-500: 65, 204, 185;
  --color-turquoise-600: 92, 219, 202;
  --color-turquoise-700: 127, 235, 220;
  --color-turquoise-800: 183, 247, 239;
  --color-turquoise-900: 218, 249, 245;

  --color-red: 240, 91, 86;
  --color-blue: 76, 136, 255;
  --color-lime: 185, 214, 39;
  --color-green: 84, 194, 72;
  --color-indigo: 95, 105, 237;
  --color-orange: 242, 150, 44;
  --color-purple: 151, 98, 245;
  --color-violet: 212, 87, 212;
  --color-wathet: 66, 189, 235;
  --color-yellow: 250, 200, 35;
  --color-carmine: 227, 82, 163;
  --color-neutral: 117, 117, 117;
  --color-saffron: 245, 226, 49;
  --color-turquoise: 65, 204, 185;

  @include define-palette-derived-vars();
}

:root,
[data-theme='light'] {
  // 信息 - info
  --color-info: rgba(var(--color-blue-500), 1);
  --color-info-hover: rgba(var(--color-blue-600), 1);
  --color-info-active: rgba(var(--color-blue-700), 1);
  --color-info-disabled: rgba(var(--color-blue-100), 1);
  --color-info-light: rgba(var(--color-blue-50), 1);
  --color-info-light-hover: rgba(var(--color-blue-100), 1);
  --color-info-light-active: rgba(var(--color-blue-200), 1);
  // 成功 - success
  --color-success: rgba(var(--color-green-500), 1);
  --color-success-hover: rgba(var(--color-green-600), 1);
  --color-success-active: rgba(var(--color-green-700), 1);
  --color-success-disabled: rgba(var(--color-green-100), 1);
  --color-success-light: rgba(var(--color-green-50), 1);
  --color-success-light-hover: rgba(var(--color-green-100), 1);
  --color-success-light-active: rgba(var(--color-green-200), 1);
  // 警告 - warning
  --color-warning: rgba(var(--color-orange-500), 1);
  --color-warning-hover: rgba(var(--color-orange-600), 1);
  --color-warning-active: rgba(var(--color-orange-700), 1);
  --color-warning-disabled: rgba(var(--color-yellow-100), 1);
  --color-warning-light: rgba(var(--color-yellow-50), 1);
  --color-warning-light-hover: rgba(var(--color-yellow-100), 1);
  --color-warning-light-active: rgba(var(--color-yellow-200), 1);
  // 错误 - danger
  --color-danger: rgba(var(--color-red-500), 1);
  --color-danger-hover: rgba(var(--color-red-600), 1);
  --color-danger-active: rgba(var(--color-red-700), 1);
  --color-danger-disabled: rgba(var(--color-red-100), 1);
  --color-danger-light: rgba(var(--color-red-50), 1);
  --color-danger-light-hover: rgba(var(--color-red-100), 1);
  --color-danger-light-active: rgba(var(--color-red-200), 1);
}

[data-theme='dark'] {
  --color-info-light: rgba(var(--color-blue-500), 0.2);
  --color-info-light-hover: rgba(var(--color-blue-500), 0.3);
  --color-info-light-active: rgba(var(--color-blue-500), 0.4);
  --color-success-light: rgba(var(--color-green-500), 0.2);
  --color-success-light-hover: rgba(var(--color-green-500), 0.3);
  --color-success-light-active: rgba(var(--color-green-500), 0.4);
  --color-warning-light: rgba(var(--color-orange-500), 0.2);
  --color-warning-light-hover: rgba(var(--color-orange-500), 0.3);
  --color-warning-light-active: rgba(var(--color-orange-500), 0.4);
  --color-danger-light: rgba(var(--color-red-500), 0.2);
  --color-danger-light-hover: rgba(var(--color-red-500), 0.3);
  --color-danger-light-active: rgba(var(--color-red-500), 0.4);
}

@mixin define-primary-scale($name) {
  --color-foreground: rgba(var(--color-white), 1);
  --color-primary: rgba(var(--color-#{family-name($name)}-500), 1);
  --color-primary-channel: var(--color-#{family-name($name)}-500);

  @each $step in config.$color-steps {
    --color-primary-#{$step}: rgba(var(--color-#{family-name($name)}-#{$step}), 1);
  }
}

@each $name in config.$primary-colors {
  :root[data-primary='#{family-name($name)}'],
  [data-primary='#{family-name($name)}'] {
    @include define-primary-scale($name);
  }
}
