// 主题色
$color-primary-a: var(--color-primary-a);
$color-primary: var(--color-primary-500);
$color-primary-50: var(--color-primary-50);
$color-primary-100: var(--color-primary-100);
$color-primary-200: var(--color-primary-200);
$color-primary-300: var(--color-primary-300);
$color-primary-400: var(--color-primary-400);
$color-primary-500: var(--color-primary-500);
$color-primary-600: var(--color-primary-600);
$color-primary-700: var(--color-primary-700);
$color-primary-800: var(--color-primary-800);
$color-primary-900: var(--color-primary-900);
$color-primary-950: var(--color-primary-950);
$color-primary-hover: var(--color-primary-600);
$color-primary-active: var(--color-primary-700);
$color-primary-disabled: var(--color-primary-100);

// 文字
$color-text-a: var(--color-text-a);
$color-text-0: var(--color-text-0);
$color-text-1: var(--color-text-1);
$color-text-2: var(--color-text-2);
$color-text-3: var(--color-text-3);
$color-text-4: var(--color-text-4);
$color-text-5: var(--color-text-5);
$color-text-base: var(--color-text-1);
$color-text-secondary: var(--color-text-2);
$color-text-tertiary: var(--color-text-3);
$color-text-disabled: var(--color-text-5);

// 背景
$color-bg-0: var(--color-bg-0);
$color-bg-1: var(--color-bg-1);
$color-bg-2: var(--color-bg-2);
$color-bg-3: var(--color-bg-3);
$color-bg-4: var(--color-bg-4);
$color-bg-5: var(--color-bg-5);

// 线、边框
$color-line-l1: var(--color-line-l1);
$color-line-l2: var(--color-line-l2);
$color-line-l3: var(--color-line-l3);
$color-line-l4: var(--color-line-l4);

:root,
.base-page {
  --white: 255, 255, 255;
  --black: 0, 0, 0;
  // 中性色
  --neutral-50: 249, 249, 250;
  --neutral-100: 242, 242, 244;
  --neutral-200: 228, 228, 230;
  --neutral-300: 201, 201, 204;
  --neutral-400: 146, 147, 153;
  --neutral-500: 92, 93, 102;
  --neutral-600: 78, 79, 89;
  --neutral-700: 65, 66, 76;
  --neutral-800: 51, 52, 63;
  --neutral-900: 37, 38, 50;
  --neutral-950: 22, 24, 35;
  --neutral-1000: 6, 7, 22;
}
