.home-page {
  background-color: theme(color-primary);
  padding: 24px;
}

.page-desc {
  margin-bottom: 12px;
}

.icon-row {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}
